.section_4
    .container
        .section_4__attention.text 
            p  
                span ВНИМАНИЕ: 
                | вы не можете быть объектом защиты более, чем по одной программе релокации.
        .text 
            p Подача заявки на релокацию осуществляется на всю семью свидетелей. Подача нескольких заявок для разных членов семьи на разные программы релокации запрещена. В случае подачи заявок на несколько программ релокации от одного свидетеля, заявки не рассматриваются. В случае ошибки в подаче документов, с вами свяжется специалист Zürich Komitee Humanitäres для уточнения полученных данных.
        .section_4__attention.text 
            p  
                span ВНИМАНИЕ: 
                | для включения в программы международной релокации свидетелей, требуется предоставление документов, личных данных и свидетельств участий в военных действиях.
        .text 
            p Свидетельские показания и другая информация, полученная от свидетелей и их близких, находится под защитой международного законодательства о защите материалов дел Международного Уголовного Суда и не подлежит разглашению без санкции Председателя Международного Уголовного Суда.
        a(href="#").button.bgred.telegram
            span Связаться в Telegram