.section_2.black
    .container
        .text 
            p 
                a(href="#") Zürich Komitee Humanitäres 
                | является организацией в Швейцарии, с 1972 года успешно обеспечивающей гуманитарную поддержку и сопровождение граждан, дающих свидетельские показания по делам, рассматриваемым Международным судом ООН, Международным уголовным судом, а также другими международными и национальными судами, свидетельства в которых подразумевают материальную компенсацию и другого рода защиту граждан.
        br
        br
        .section_2__title
            span Что предоставляет программа:
        .text 
            p 
                | Zürich Komitee Humanitäres действует в рамках законодательства Швейцарии, законов стран Европейского Союза а также согласно международных статутов и ратифицированных ООН положений в сфере гуманитарного права.

        .benefits 
            .benefits__item 
                .benefits__left 
                    img(src="public/img/benefits/1.svg", alt="")
                .benefits__text 
                    span Освобождение от уголовного преследования 
            .benefits__item 
                .benefits__left 
                    img(src="public/img/benefits/2.svg", alt="")
                .benefits__text 
                    span Безопасный трансфер в страны ЕС (включая близких родственников)
            .benefits__item 
                .benefits__left 
                    img(src="public/img/benefits/3.svg", alt="")
                .benefits__text 
                    span Гуманитарная поддержка
            .benefits__item 
                .benefits__left 
                    img(src="public/img/benefits/4.svg", alt="")
                .benefits__text 
                    span Финасовая ежемесячная поддержка и компенсация жилья
            .benefits__item 
                .benefits__left 
                    img(src="public/img/benefits/5.svg", alt="")
                .benefits__text 
                    span Консультационная поддержка
            .benefits__item 
                .benefits__left 
                    img(src="public/img/benefits/6.svg", alt="")
                .benefits__text 
                    span Помощь в трудоустройстве
            .benefits__item 
                .benefits__left 
                    img(src="public/img/benefits/7.svg", alt="")
                .benefits__text 
                    span Включение в программы свидетельской защиты и защита личных данных
            .benefits__item 
                .benefits__left 
                    img(src="public/img/benefits/8.svg", alt="")
                .benefits__text 
                    span Помощь в получении статуса беженца, вида на жительства и гражданства стран ЕС
                    