.section_1.white
    include ../header 
    .container
        .section_1__title 
            span ПОМИЛОВАНИЕ
        .section_1__wrapper 
            .section_1__center 
                .section_1__head.black 
                    span 
                        span.red 592 
                        | ВОЕННЫХ 
                        br
                        | Защищены 
                        br
                        | программой
                .text.black 
                    p В пакет програмы защиты свидетелей для военных РФ и релокации для их семей входит: освобождение от уголовного преследования в обмен на предоставленные свидетельства, бесплатная государственная правовая защита и все гражданские права соответствующего государства.
                br
                br
                a(href="#").button.bgred.telegram
                    span Связаться в Telegram