.section_3
    .container
        .section_3__title
            span Программы релокации - международно одобренные программы перемещения свидетелей 
                br
                | в страны Европы для их защиты:
        .text.black 
            p Все страны, участвующие в программе международной релокации свидетелей, обязуются не разглашать данные, получаемые свидетелями, а также обязуются предоставить защищённый статус, материальную компенсацию и необходимую помощь в оформлении документов, согласно соответствующих государственных программ, одобренных правительством стран.
        br
        br
        .text.black 
            p В пакет защиты свидетелей всех стран входит освобождение от уголовного преследования в обмен на предоставленные свидетельства, бесплатная государственная правовая защита и все гражданские права соответствующего государства.
        
        .map
            .map__left 
                .map__title 
                    span Какие страны участвуют
                        br
                        | в программе релокации
                .map__item 
                    img(src="public/img/casualties/map_dot.svg", alt="")
                    span Австрия
                .map__item 
                    img(src="public/img/casualties/map_dot.svg", alt="")
                    span Швейцария
                .map__item 
                    img(src="public/img/casualties/map_dot.svg", alt="")
                    span Великобритания
                .map__item 
                    img(src="public/img/casualties/map_dot.svg", alt="")
                    span Франция
                .map__item 
                    img(src="public/img/casualties/map_dot.svg", alt="")
                    span Испания
            .map__right 
                img(src="public/img/casualties/map.svg", alt="")