.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: em(385);
    margin-right: 1em;
    &__input {
        font-family: 'Akrobat';
        font-style: normal;
        font-weight: 500;
        font-size: em(18);
        line-height: em(19, 18);
        letter-spacing: -0.02em;
        width: 18.4375em;
        height: em(50, 18);
        background: transparent;
        border: em(1) solid #626262;
        display: block;
        padding-left: 1em;
        border-right-color: transparent;

        &::placeholder {
            color: #FFFFFF;
        }
    }
    &__button {
        font-family: 'Akrobat';
        font-style: normal;
        font-weight: 600;

        border: em(1) solid #CC0000;
        padding: em(12) em(16) em(12);
        width: em(100);
        height: em(50);
        background: #CC0000;
        display: block;
        color: #fff;
        // font-size: em(16);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background .15s ease-in-out, color .15s ease-in-out;
        cursor: pointer;
        font-size: 1em;
        & span {
            font-size: 1.25em;
            line-height: 1.2em;
            letter-spacing: -.02em;
        }
        &:hover {
            background-color: #fff;
            color: #CC0000;
        }
    }
    @media (orientation: portrait) {
        width: 100%;
        margin-bottom: 0.6em;
        margin-right: 0;
        &__input {
            width: 100%;
            border: .0625em solid #626262;
        }
        &__button {
            position: absolute;
            right: 3.1em;
            bottom: 2.96em;
            width: 9em;
            font-size: 1.01em;
        }
    }
}