.section_1
    include ../header 
    .container
        .section_1__title 
            span ПРЕСТУПНИКИ
        .section_1__wrapper 
            .section_1__center 
                .section_1__head 
                    span 112 РОССИЙСКИХ ВОЕННЫХ ОСУЖДЕНЫ
                .text 
                    p Данные по более чем 5 000 военнослужащим РФ переданы в Международный Военный Трибунал. По 112 военным  вынесен приговор о пожизеном заключении, согласно 
                        a(href="#") Женевской Конвенции IV,  
                        | который не имеет срока давности.
                br
                br
                .text 
                    p Россия блокирует проведение расследования в ООН, называя все преступления спектаклем и постановкой, что только доказывает их причастность. Журналисты со всего мира были приглашены на места преступлений, чтобы засведетельствовать реальность всего произошедшего. Списки всех преступников уже составлены, Украина будет методично и неумалимо добиваться привлечения к ответственности всех виновных. Конкретные меры достижения этой цели сейчас разрабатываются, но можно быть уверенным: преступники не смогут скрыться даже на территории РФ. Уже сейчас начинаются первые суды.

    .bg 
        .bg__smoke 
            img(src="public/img/casualties/smoke.png", alt="")