.section_2
    .section_2__slider.galery 
        .galery__wrap.swiper-wrapper  
            .galery__item.swiper-slide  
                img(src="public/img/criminals/slider/1.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/criminals/slider/2.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/criminals/slider/3.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/criminals/slider/4.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/criminals/slider/5.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/criminals/slider/6.jpg", alt="")
    .container
        .section_2__title 
            span Военные преступники непосредственно участвующие в совершении военных преступлений против
                br
                | народа Украины в г. Буча:
        .section_2__lines
            .section_2__line
                .section_2__head 
                    img(src="public/img/scull.svg", alt="")
                    span 64 отдельная мотострелковая бригада 35 армии Восточного военного округа
            .section_2__line
                .section_2__head 
                    img(src="public/img/scull.svg", alt="")
                    span 5 отдельная танковая бригада 36 армии Восточного военного округа
            .section_2__line
                .section_2__head 
                    img(src="public/img/scull.svg", alt="")
                    span 331 парашютно-десантный полк 98 воздушно-десантной дивизии
            .section_2__line
                .section_2__head 
                    img(src="public/img/scull.svg", alt="")
                    span 137 парашютно-десантный полк 106 воздушно-десантной дивизии
            .section_2__line
                .section_2__head 
                    img(src="public/img/scull.svg", alt="")
                    span 104 и 234 десантно-штурмовых полка 76 десантно-штурмовая дивизии
            .section_2__line
                .section_2__head 
                    img(src="public/img/scull.svg", alt="")
                    span 14 и 45 отдельные бригады специального назначения
            .section_2__line
                .section_2__head 
                    img(src="public/img/scull.svg", alt="")
                    span 63 отряд полиции особого назначения Росгвардии
            .section_2__line
                .section_2__head 
                    img(src="public/img/scull.svg", alt="")
                    span 155 отдельная бригады морской пехоты Тихоокеанского флота
        
        .text.black 
            p Главное управление разведки Министерства обороны Украины обнародовало поименный список российских военнослужащих, участвовавших в совершении военных преступлений в Буче в Киевской области.
                br
                br
                a(href="#") Поименный список преступников
        
        .section_2__attention.text.black 
            p  
                span Помните! 
                | За совершенные злодеяния против мирного населения Украины все военные преступники предстанут перед судом и будут привлечены к ответственности!
