.slide_5.slider__item.swiper-slide 
    .container
        .title.red
            span ПОМИЛОВАНИЕ
        .slide_5__left 
            .slide_5__attention
                img(src="public/img/attention.svg", alt="")
                .slide_5__head 
                    span информация
                        br
                        | для военных
                        br
                        | и их семей
            .text.white 
                p Единственный шанс быть помилованным и избежать наказания - это содействие следствию Международного Военного Трибунала. 
                    br
                    | Перейдите по ссылке в чат-бот и следуйте инструкциям.
            .slide_5__buttons
                a(href="#").button.white.slide_5__button 
                    span Подробнее 
                a(href="https://t.me/RusBetrayal_bot").button.bgred.slide_5__button 
                    span Чат-бот 

        .slide_5__img
            picture 
                source(media="(orientation: portrait)", srcset="public/img/slide-5/img--mob.jpg")
                img(src="public/img/slide-5/img.jpg", alt="")