.slide_2.slider__item.swiper-slide 
    .container
        .slide_2__left 
            picture 
                source(media="(orientation: portrait)", srcset="public/img/slide-2/img--mob.jpg")
                img(src="public/img/slide-2/img.jpg", alt="")
            .text.black.slide_2__text 
                p Массовое убийство мирных граждан, совершённое в марте 2022 года в городе Буча и его окрестностях, на территориях, которые контролировались российскими войсками в ходе вторжения на Украину. Имеет все признаки военного преступления.
            a(href="#").button.transparent 
                span Подробнее 
        .slide_2__title
            .slide_2__title--1 БОЛЕE
            .slide_2__title--2 400
            .slide_2__title--3 УБИТЫХ
            .slide_2__title--4 МИРНЫХ ЖИТЕЛЕЙ 