.slide_3.slider__item.swiper-slide 
    .container
        .slide_3__title
            .slide_3__title--1 112
            .slide_3__title--2 ВОЕННЫХ
            .slide_3__title--3 ОСУЖДЕНЫ

        .slide_3__right
            picture 
                source(media="(orientation: portrait)", srcset="public/img/slide-3/img--mob.jpg")
                img(src="public/img/slide-3/img.jpg", alt="")
            .text.white.slide_3__text 
                p Данные по более чем 5 000 военнослужащим РФ переданы в Международный Военный Трибунал. По 112 военным  вынесен приговор о пожизеном заключении, согласно 
                    a(href="#") Женевской Конвенции IV, 
                    | который не имеет срока давности.
            a(href="#").button
                span Подробнее 