.slide_8.slider__item.swiper-slide 
    .container
        .slide_8__attention 
            img(src="public/img/attention.svg", alt="")
            .slide_8__head 
                span Передайте информацию
                    br
                    | желающим сдаться в плен
                    br
                    | солдатам ВС РФ
        .slide_8__contacts 
            .slide_8__contact
                a(href="tel:/+380931192984").slide_8__contact--info 
                    span +380 (93) 119 29 84 
                .slide_8__contact--title 
                    span Горячая линия СБУ
            .slide_8__contact
                a(href="https://t.me/defenseua_com" target="_blank").slide_8__contact--info 
                    span @defenseua_com
                .slide_8__contact--title 
                    span ТЕЛЕГРАм ПНУ