.slide_7.slider__item.swiper-slide 
    .container
        .title.red
            span СДАТЬСЯ САМОМУ
        .slide_7__left 
            .slide_7__attention
                img(src="public/img/attention.svg", alt="")
                .slide_7__head 
                    span информация
                        br
                        | для
                        br
                        | военных
            .text.white 
                p Шанс быть помилованным и избежать наказания так же предоставляют украинские спец службы.
                    br
                    | Это надежный и безопасный способ для российских солдат сдаться в плен под гарантии Женевской конвенции.
                    br
                    | Следуйте инструкциям в чат-боте.
            .slide_7__buttons
                a(href="#").button.white.slide_7__button 
                    span Подробнее 
                a(href="https://t.me/RusBetrayal_bot").button.bgred.slide_7__button 
                    span Чат-бот 

        .slide_7__img
            picture 
                source(media="(orientation: portrait)", srcset="public/img/slide-7/img--mob.jpg")
                img(src="public/img/slide-7/img.jpg", alt="")