.slide_6.slider__item.swiper-slide 
    .container
        .title.black
            span СДАТЬ ПРЕСТУПНИКА
        .slide_6__img
            picture 
                source(media="(orientation: portrait)", srcset="public/img/slide-6/img--mob.jpg")
                img(src="public/img/slide-6/img.jpg", alt="")

        .slide_6__right
            .slide_6__head 
                span $1000
                .slide_6__head--small ЗА сдачу военного преступника
            .text.black 
                p Европейская организация установила награду за предоставление ценной информации о военных преступниках, которая приведет к поимке и уголовному наказанию военных принимавших участие в военных преступлениях на территории Украины.  Сдать военного престпуника можно по ссылке в чат-боте. 
            .slide_6__buttons
                a(href="#").button.transparent.slide_6__button 
                    span Подробнее 
                a(href="https://t.me/RusBetrayal_bot").button.bgred.slide_6__button 
                    span Чат-бот 
