.slide_4.slider__item.swiper-slide 
    .container
        .slide_4__left 
            picture 
                source(media="(orientation: portrait)", srcset="public/img/slide-4/img--mob.jpg")
                img(src="public/img/slide-4/img.jpg", alt="")
            .text.black.slide_4__text 
                p Более 500 военнослужаших помиловано за предоставление ценных данных о военных преступлениях совершенных на территории Украины и проходят процедуру релокации их и их семей в Европу.
            a(href="#").button.transparent 
                span Подробнее 
        .slide_4__title
            .slide_4__title--1 592
            .slide_4__title--2 ВОЕННЫХ
            .slide_4__title--3 ПОМИЛОВАНО