.section_2
    .section_2__slider.galery 
        .galery__wrap.swiper-wrapper  
            .galery__item.swiper-slide  
                img(src="public/img/casualties/slider/1.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/casualties/slider/2.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/casualties/slider/3.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/casualties/slider/4.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/casualties/slider/5.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/casualties/slider/6.jpg", alt="")
    .container
        .text.black 
            p Убийства в Буче осудили активисты, политики и деятели культуры России, Украины и многих стран мира. Президент Украины Владимир Зеленский и ряд европейских политиков охарактеризовали случившееся как геноцид украинского народа со стороны России.
        
        .section_2__items 
            .section_2__title 
                span События в БУЧЕ несли явные признаки геноцида по следующим признакам:
            .section_2__item 
                .section_2__head 1. Классификация
                .text.black Во всех культурах есть категории, которые разделяют людей на «мы и они» по этнической принадлежности, расе, религии или национальности. Россия считает украинцев подневольным народом, "младшим братом", за которого они вправе принимать решения.
            .section_2__item 
                .section_2__head 2. Символизация
                .text.black Мы даем названия или другие символы классификациям. Мы называем людей «евреями» или «цыганами» или различаем их по цвету или одежде; и применяем символы к членам групп. Россия объявила нацистами ВС Украины, но затем нацистами стали называть практически всех украинцев, не желавших мириться с оккупацией.
            .section_2__item 
                .section_2__head 3. Дискриминация
                .text.black Доминирующая группа использует закон, обычаи и политическую власть, чтобы отрицать права других групп. Бессильной группе не могут быть предоставлены полные гражданские права, право голоса или даже гражданство. Россия отрицает права украинцев на независимость и свою государственность, по мнению правительства РФ украинский народ должен быть наказан за непокорность. 
            .section_2__item 
                .section_2__head 4. Дегуманизация
                .text.black Одна группа отрицает человеческую сущность другой группы. Члены этой группы отождествляются с животными, паразитами, насекомыми или болезнями. Дегуманизация преодолевает нормальное человеческое отрицательное отношение к убийствам. Обесчеловечивая украинцев, используя размытый термин "нацист", или "фашист", войска РФ проводили карательные акции и совершали преступления против любого украинца, по своему желанию.

            .section_2__item 
                .section_2__head 5. Организация
                .text.black Геноцид всегда организован, обычно государством, часто используя ополченцев, чтобы обеспечить отрицание ответственности государства. Иногда организация является неформальной или децентрализованной. Преступления в Буче совершались при попустительстве офицеров, высшего командного состава. Военные преступления являются организованной тактикой войск РФ.
            .section_2__item 
                .section_2__head 6. Поляризация
                .text.black Экстремисты разъединяют группы. Группы ненависти транслируют поляризационную пропаганду. Мотивации для нацеливания группы внушаются через средства массовой информации. Годами пропагандисты РФ внушали населению, что украинцы - это нацисты, взбунтовавшиеся предатели, которых контролирует запад. Этот образ врага прочно укоренился в сознании множества россиян.
            .section_2__item 
                .section_2__head 7. Подготовка
                .text.black Планы геноцидальных убийств готовы. Лидеры национальных или преступных групп планируют «Окончательное решение» для «вопроса» евреев, армян, тутси или другой целевой группы. Такие термины как "демилитаризация", "денацификация", "деукраинизация" были прямо озвучены презиндентом и правительством РФ, так же как и "окончтательное решение украинского вопроса", которое является прямой отсылкой к планам нацисткой Германии.
            .section_2__item 
                .section_2__head 8. Преследование
                .text.black Жертвы определены и отделены из-за их этнической или религиозной принадлежности. Составлены списки смерти. В спонсируемом государством геноциде члены групп-жертв могут быть вынуждены носить идентифицирующие символы. Их имущество часто экспроприируется. Войска РФ целенаправленно выискивали бывших участников АТО, сгоняли людей в группы, пытали, расстреливали, грабили, насиловали, совершали массовые захоронения.
            .section_2__item 
                .section_2__head 9. Истребление
                .text.black Начинается и быстро становится массовым убийством, которое по закону называется «геноцидом». Это «истребление» для убийц, потому что они не верят, что их жертвы имеют полностью человеческую сущность. Массовые убиства, изнасилования и зверства против украинцев были совершены в первую очередь из-за обесчеловечивания украинцев со стороны войск РФ, желания покарать и наказать, отказа в правах человека, в праве на независимость.
            .section_2__item 
                .section_2__head 10. Отрицание
                .text.black Это последняя стадия, которая продолжается на протяжении всего процесса и всегда следует за геноцидом. Это один из самых надежных индикаторов дальнейших геноцидальных убийств. Лица, совершившие геноцид, раскапывают братские могилы, сжигают тела, пытаются скрыть улики и запугать свидетелей. Они отрицают, что совершили какие-либо преступления, и часто обвиняют жертв в том, что случилось. Правительство РФ полностью отрицает причастность РФ к зверствам в Буче и перекладывает ответственность на саму Украину.