.section_1
    include ../header 
    .container
        .section_1__title 
            span ЖЕРТВЫ
        .section_1__wrapper 
            .section_1__left 
                .section_1__head 
                    span БОЛЕЕ 400 
                        br
                        | УБИТЫХ 
                        br
                        | МИРНЫХ ЖИТЕЛЕЙ
                .text 
                    p Резня в Бу́че — массовое убийство мирных граждан, сопровождавшееся случаями мародёрства, похищений и пыток, совершённое в марте 2022 года в городе Буча и его окрестностях, на территориях, которые контролировались российскими войсками в ходе вторжения на Украину. События имеют признаки военных преступлений и преступлений против человечества, в которых обвиняются военнослужащие ВС России.
            .section_1__right 
                .text 
                    p 25 февраля 2022 года в Буче произошли первые боестолкновения между украинскими войсками и российским спецназом. С 5 по 31 марта Буча находилась под контролем российских войск, которые создали в городе тыловую базу для наступления на Ирпень (город, за который весь март шли ожесточённые бои). После того, как 1 апреля в Бучу вошли украинские войска, ведущие мировые СМИ начали публиковать фото- и видеосвидетельства убийств мирных жителей, в совершении которых украинские власти обвинили российских военных. После ухода российских войск на улицах города, в подвале детского лагеря и во дворах домов было найдено более 30 тел людей в гражданской одежде. Ещё 67 тел были эксгумированы из братской могилы у храма Андрея Первозванного. Экспертиза показала, что 40 из них были мирными жителями и что несколько десятков людей погибли в результате артиллерийских или танковых обстрелов с использованием противопехотных снарядов, начинённых флешеттами (металлическими дротиками). Всего в городе было найдено более 400 тел. 
    .bg 
        .bg__smoke 
            img(src="public/img/casualties/smoke.png", alt="")