.buttons 
    .buttons__flag 
        img(src="public/img/flag.svg", alt="")
    .buttons__wrapper 
        .container 
            a(href="pardon.html").button.bgred 
                span Помилование 
            a(href="thousand.html").button.bgred 
                span Сдать за 1000$
            a(href="giveup.html").button.bgred 
                span Сдаться