header.header
    .container
        a(href="index.html").header__logo 
            img(src="public/img/logo.svg", alt="")
        .header__menu_btn
            .header__menu_btn
                img(src="public/img/header/menu.svg", alt="").header__menu_open
                img(src="public/img/header/close.svg", alt="").header__menu_close
        .header__menu
            .header__links 
                a(href="casualties.html").header__link
                    img(src="public/img/header/link-1.svg", alt="")
                    span Жертвы
                a(href="criminals.html").header__link
                    img(src="public/img/header/link-2.svg", alt="")
                    span Преступники
            .header__buttons
                a(href="pardon.html").header__button Помилование
                a(href="giveup.html").header__button Сдаться
                a(href="thousand.html").header__button.header__button--red Сдать за $1000