.section_1.white
    include ../header 
    .container
        .section_1__title 
            span СДАТЬ ЗА $1000
        .section_1__wrapper 
            .section_1__center 
                .section_1__head.black 
                    span 
                        | ВЫ МОЖЕТЕ ПОЛУЧИТЬ 
                        br
                        | НАГРАДУ ЗА СДАЧУ 
                        br
                        | ВОЕННОГО ПРЕСТУПНИКА

                .text.black 
                    p Европейская организация установила награду за предоставление ценной информации о военных преступниках, которая приведет к поимке и уголовному наказанию военных принимавших участие в военных преступлениях на территории Украины.  Сдать военного престпуника можно по ссылке в чат-боте 
                br
                br
                a(href="#").button.bgred.telegram
                    span Связаться в Telegram