.section_2.black
    .container
        .section_2__title
            span Процедура сдачи преступника
        .text 
            p Укажите ваше имя и предоставьте любое подтверждение военного преступления. Это могут быть:
       
        .benefits 
            .benefits__item 
                .benefits__left 
                    span 1
                .benefits__text 
                    span Документы, удостоверяющие, что обвиняемый - военнослужащий Российской Федерации из частей, которые находились в районах совершения военных преступлений.
            .benefits__item 
                .benefits__left 
                    span 2
                .benefits__text 
                    span Любые фото и видеосвидетельства военных преступлений.
            .benefits__item 
                .benefits__left 
                    span 3
                .benefits__text 
                    span Дополнительная информация об обвиняемом и обстоятельствах совершенных военных преступлений.
        
    .section_2__slider.galery.galery--margin 
        .galery__wrap.swiper-wrapper  
            .galery__item.swiper-slide  
                img(src="public/img/thousand/1.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/thousand/2.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/thousand/3.jpg", alt="")
        
    .container
        .section_2__attention.text 
            p Содействующее следствию лицо гарантированно получит денежное вознаграждение. Правоохранительные органы Украины - не мошенники. Все подробности вы конфиденциально можете узнать в чат-боте Telergam.
                br
                | Единственный шанс быть помилованным и избежать наказания - это содействие следствию Международного Военного Трибунала. 
                br
                |Перейдите по ссылке в чат-бот и следуйте инструкциям.

        a(href="#").button.bgred.telegram
            span Связаться в Telegram