- var title = "Жертвы";
doctype html
html
	include includes/head
	body
		.body-wrap 
			include template/casualties/section_1
			include template/casualties/section_2
			include template/buttons

		include template/popup
	include includes/foot