- var title = "Преступники";
doctype html
html
	include includes/head
	body
		.body-wrap.criminals 
			include template/criminals/section_1
			include template/criminals/section_2
			include template/buttons

		include template/popup
	include includes/foot