- var title = "Резня в Буче";
doctype html
html
	include includes/head
	body
		.body-wrap 
			.slider.main-slider 
				.slider__wrapper.swiper-wrapper 
					include template/slide/slide_1
					include template/slide/slide_2 
					include template/slide/slide_3 
					include template/slide/slide_4 
					include template/slide/slide_5 
					include template/slide/slide_6 
					include template/slide/slide_7 
					include template/slide/slide_8 

				.slider__pagination.swiper-pagination 
				.slider__next 
					svg(width='24' height='31' viewBox='0 0 24 31' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M13.5 1.60001C13.5 0.771579 12.8284 0.100006 12 0.100006C11.1716 0.100006 10.5 0.771579 10.5 1.60001L13.5 1.60001ZM10.9393 29.6607C11.5251 30.2465 12.4749 30.2465 13.0607 29.6607L22.6066 20.1147C23.1924 19.5289 23.1924 18.5792 22.6066 17.9934C22.0208 17.4076 21.0711 17.4076 20.4853 17.9934L12 26.4787L3.51472 17.9934C2.92893 17.4076 1.97918 17.4076 1.3934 17.9934C0.807611 18.5792 0.807611 19.5289 1.3934 20.1147L10.9393 29.6607ZM10.5 1.60001L10.5 28.6L13.5 28.6L13.5 1.60001L10.5 1.60001Z' fill='#CC0000')
		include template/popup
	include includes/foot