.section_1.white
    include ../header 
    .container
        .section_1__title 
            span СДАТЬСЯ
        .section_1__wrapper 
            .section_1__center 
                .section_1__head.black 
                    span 
                        span.red 863 
                        | ВОЕННЫХ 
                        br
                        | Помиловано
                .text.black 
                    p Единственный шанс быть помилованным и избежать наказания - это содействие следствию Международного Военного Трибунала. Перейдите по ссылке в чат-бот и следуйте инструкциям.
                br
                br
                a(href="#").button.bgred.telegram
                    span Связаться в Telegram