.section_2.black
    .container
        .section_2__title
            span Процедура сдачи в плен
        .text 
            p Укажите ваше имя и предоставьте любое подтверждение того, что вы стали свидетелем военного преступления. Это могут быть:
       
        .benefits 
            .benefits__item 
                .benefits__left 
                    span 1
                .benefits__text 
                    span Документы, удостоверяющие, что вы или ваш родственник - военнослужащие Российской Федерации из частей, которые находились в районах совершения военных преступлений.
            .benefits__item 
                .benefits__left 
                    span 2
                .benefits__text 
                    span Любые фото и видеосвидетельства военных преступлений, которые вы видели.
            .benefits__item 
                .benefits__left 
                    span 3
                .benefits__text 
                    span Дополнительная информация о том, при каких обстоятельствах вы стали свидетелем военных преступлений.
        
    .section_2__slider.galery.galery--margin 
        .galery__wrap.swiper-wrapper  
            .galery__item.swiper-slide  
                img(src="public/img/giveup/1.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/giveup/2.jpg", alt="")
            .galery__item.swiper-slide  
                img(src="public/img/giveup/3.jpg", alt="")
        
    .container
        .section_2__attention.text 
            p Более 500 военнослужаших помиловано за предоставление ценных данных о военных преступлениях совершенных на территории Украины и проходят процедуру релокации их и их семей в Европу.
        a(href="#").button.bgred.telegram
            span Связаться в Telegram